<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img-cus/favicon.ico}"/>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>[[${response.code}]] - 橘子软件资源网</title>

<body>
    <script type="text/javascript"
            src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js"
            charset="utf-8"
            homePageUrl="http://soft.ongsat.com/" homePageName="回到软件官网">
    </script>
</body>
</html>
