<!DOCTYPE html>
<html lang="zh-CN" th:style="'filter: grayscale(' + ${config.pageGrayMode} + ')'">
<head>

    <link rel="icon" type="image/x-icon" th:href="${config.logoUrl}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:if="${type == 0}">
        最新发布 - [[${config.title}]]
    </title>
    <title th:if="${type == 1}">
        [[${categoryName}]] - [[${config.title}]]
    </title>

    <meta name="keywords" th:content="${config.seoKeywords}">
    <meta name="description" th:content="${config.seoDescription}">

    <div th:include="common::header"></div>

</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index">
                <img th:src="${config.bigLogoUrl}" width="140" height="65" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item el-nav-item">
                        <a class="nav-link" th:href="@{/index}">首页</a>
                    </li>
                    <li class="nav-item el-nav-item" th:classappend="${type} == 0 ? 'active' : ''">
                        <a class="nav-link" th:href="@{/all}">最新发布</a>
                    </li>
                    <li th:each="item: ${category}"
                        class="nav-item el-nav-item"
                        th:classappend="${(item.children.size() > 0 ? 'dropdown' : '') + ' ' + (categoryId == item.id ? 'active' : '')}"
                    >
                        <a th:if="${item.children.size()} == 0"
                           class="nav-link" th:text="${item.name}" th:href="'/category/' + ${item.id}"
                        ></a>

                        <a th:if="${item.children.size()} > 0" class="nav-link dropdown-toggle"
                           th:text="${item.name}" th:href="'/category/' + ${item.id}"
                           data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                        >
                        </a>
                        <div th:if="${item.children.size()} > 0" class="dropdown-menu dropdown-menu-o">
                            <!--                            <a-->
                            <!--                               class="dropdown-item" th:text="${item.name} + ''" th:href="'/category/' + ${item.id}"></a>-->
                            <a th:each="index : ${item.children}"
                               class="dropdown-item dropdown-item-o" th:text="${index.name}" th:href="'/category/' + ${index.id}"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="cl-cantainer container">
    <div class="row">
        <div class="col-md-8 cl-left">

            <div th:if="${list.size()} != 0" th:each="item : ${list}" class="cl-card">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 cl-card-image">
                        <img th:data-original="${item.masterImageUrl}" class="lazy img-fluid" alt="">
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 cl-card-main">
                        <div>
                            <span th:text="${item.title}" class="cl-card-main-title">
                            </span>
                        </div>
                        <div class="cl-card-main-info-box">
                            <p class="cl-card-main-info" th:text="${item.description}"></p>
                        </div>
                        <p class="cl-card-more"><a th:href="'/article/' + ${item.uri}" target="_blank">阅读更多...</a></p>
                    </div>
                </div>
            </div>

            <div th:if="${list.size()} == 0" class="data-none-box">
                <span th:if="${type} != 2">没有相关文章数据哟...</span>
                <span th:if="${type} == 2">哦哟！！真是恼火！！在后台没有搜索了一番，居然没有相关的数据...</span>
            </div>

            <span th:if="${list.size()} != 0" class="badge badge-warning">
                总共页数: [[${pages}]]
            </span>
            <div th:if="${list.size()} != 0" style="display: flex;justify-content: center">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>
        </div>
        <div class="col-md-4 cl-right">
            <div class="right-card">
                <div class="right-card-main">
                    <div class="right-card-title">全站搜索</div>
                    <div style="display: flex;justify-content: center;align-content: center;padding-bottom: 20px">
                        <input
                                id="search"
                                class="form-control"
                                placeholder="回车搜索..."
                                style="width: 90%"
                        >
                    </div>
                </div>
            </div>

            <div class="right-card">
                <div class="right-card-main">
                    <div class="right-card-title">最新发布</div>
                    <ul class="right-recommended-list">
                        <li th:each="item : ${latestArticle}">
                            <a class="news-title" th:href="'/article/' + ${item.uri}" target="_blank">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                [[${item.title}]]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:each="item : ${section}" class="right-card">
                <div class="right-card-main">
                    <div class="right-card-title" th:text="${item.title}"></div>
                    <div class="cl-code">
                        <img th:src="${item.masterImageUrl}" class="img-fluid img-radius" alt="">
                        <p th:text="${item.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid cl-footer">
    <div class="container" style="color: #fff" th:utext="${config.footer}">
    </div>
    <div class="container" style="padding-top: 20px;padding-bottom: 20px">
        <span style="color: #fff">友情链接</span>
        <ul style="list-style: none;">
            <li th:each="item : ${blogroll}" style="float: left;padding-left: 15px">
                <a th:href="${item.openUrl}" th:text="${item.name}" class="badge badge-warning" target="_blank">Dark</a>
            </li>
        </ul>
    </div>
</div>

<div th:include="common::footer"></div>

<script th:inline="javascript">

    $("#search").val('[(${keyword})]');

    $("#search").keydown(function (e) {
        if (e.keyCode == 13) {
            if ($("#search").val() == "") {
                $.notify("请输入搜索词", {color: "#E6A23C", background: "#FAECD8"});
            } else {
                window.open("/search/" + $("#search").val());
            }
        }
    });

    // $(function () {
    //     $(".nav-item").mouseover(function () {
    //         $(this).addClass("show");
    //         $(this).find(".dropdown-menu").addClass("show");
    //     });
    //     $(".nav-item").mouseleave(function(){
    //         $(this).removeClass("show");
    //         $(this).find(".dropdown-menu").removeClass("show");
    //     })
    // })

    var isRenderPagination = [(${list.size()})] > 0;

    var metering = 0;
    $(function () {
        if (isRenderPagination) {
            $('#pagination').twbsPagination({
                startPage: Number('[(${current})]'),
                totalPages: Number('[(${pages})]'),
                visiblePages: 3,
                initiateStartPageClick: true,
                hideOnlyOnePage: true,
                first:'首页',
                last:'末页',
                prev:'上一页',
                next:'下一页',
                nextClass: "page-item-none",
                prevClass: "page-item-none",
                onPageClick: function (event, page) {
                    metering += 1;
                    if (metering !== 1) {
                        window.location.href = "?page=" + page;
                    }
                }
            });
        }
    });

</script>

</body>
</html>